@using MudBlazor
@*
    Favourites card
*@

<h3>Favourites Card</h3>

<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudIcon Icon="@IconsMud.Star" Size="Size.Medium" />
        </CardHeaderAvatar>
        <CardHeaderContent>
            Header content
            <MudText>Large</MudText>
            <MudIcon Icon="@IconsMud.Star" Size="Size.Large" />
            <MudIcon Icon="@IconsMud.Star" Size="Size.Medium" />
            <MudIcon Icon="@IconsMud.Star" Size="Size.Small" />
            manual
            <MudIcon Icon="@IconsMud.Star" Style="font-size: 2rem;" />
            <MudIcon Icon="@IconsMud.Star" Style="font-size: 6rem;" />
            24 default
            <MudIcon Icon="@IconsMud.Star" Style="font-size: 6rem;" />
            <MudIcon Icon="@IconsMud.Star" Size="Size.Small" />
            <MudIcon Icon="@IconsMud.Star" Style="font-size: 24px;" />
            <MudIcon Icon="@IconsMud.Star" Style="font-size: 20px;" />
        </CardHeaderContent>
        <CardHeaderActions>actions</CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        Content
        <MudText>Mudtext content</MudText>
    </MudCardContent>
    <MudCardActions>Actions</MudCardActions>
</MudCard>

@code {

}
