@using MudBlazor
@*
    Journal Transaction read-only entry for display in lists
*@

<div @onclick="OnItemClick">
    <MudStack Row="true">
        <MudText>
            @Xact.Date.ToString(Constants.ISODateFormat)
        </MudText>
        <MudText>
            @Xact.Payee
        </MudText>
    </MudStack>

    <MudText Typo="Typo.body2" Color="Color.Primary" Class="pl-5">
        ; @Xact.Note
    </MudText>

    @if (Xact.Postings != null)
    {
        @foreach (var p in Xact.Postings)
        {
            <MudStack Row="true" Class="pl-5">
                <MudText Typo="Typo.body2">@p.Account</MudText>
                @if (p.Amount != null)
                {
                    <MudSpacer />
                    <MudText Typo="Typo.body2" Class="pl-4">@p.Amount @p.Currency</MudText>
                }
            </MudStack>
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Xact Xact { get; set; } = default!;

    [Parameter]
    public EventCallback<Xact> OnItemClicked { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


    }

    async Task OnItemClick()
    {
        await OnItemClicked.InvokeAsync(Xact);
    }
}
