@* 
    Transaction Editor component used in the Transaction Edit page 
*@

@using MudBlazor

@inject AppState State
@inject IDexieDAL _db
@inject ISettingsService _settings
@inject NotificationService Notification
@inject RouterService _router

@* Date *@
<MudDatePicker @ref="_datePicker" Placeholder="Date" DateFormat="@FixedSettings.DateFormat"
               AutoClose Adornment="Adornment.Start" AdornmentIcon="@IconsMud.CalendarDays"
               @bind-Date="date" PickerVariant="PickerVariant.Dialog" Class="mb-4">
    <PickerActions>
        <MudButton Class="mr-auto align-self-start" OnClick="Today">Today</MudButton>
    </PickerActions>
</MudDatePicker>

@* Payee *@
<MudTextField T="string" Placeholder="Payee" Adornment="Adornment.Start" AdornmentIcon="@IconsMud.Users2"
              @bind-Value="Payee" @onclick="OnPayeeClick" Class="my-4" />

<MudTextField T="string" Placeholder="Note" Adornment="Adornment.Start" AdornmentIcon="@IconsMud.FileText"
              @bind-Value="Note" Class="my-4" />

@* Postings *@
<MudPaper Class="px-4 pt-1 mt-4">
    <MudStack Row="true">
        <div class="flex-grow-1">
            <MudText Align="Align.Center">Postings</MudText>
        </div>
        @* Sum *@
        <MudStack Row>
            <MudIcon Icon="@IconsMud.Sigma" />
            <MudText>@Sum</MudText>
        </MudStack>
    </MudStack>

    <MudStack Row="true">
        @* Postings actions *@
        <MudStack Row="true" Class="justify-center gap-10 flex-grow-1">
            <MudIconButton Icon="@IconsMud.PlusCircle" @onclick="OnAddPostingClick" />
            <MudIconButton Icon="@IconsMud.ArrowUpDown" @onclick="OnReorderPostingsClick" />
            <MudIconButton Icon="@IconsMud.Trash" @onclick="OnDeletePostingsClicked" />
        </MudStack>
    </MudStack>
</MudPaper>

@if (Postings != null)
{
    @foreach (var posting in Postings)
    {
        var index = Postings.IndexOf(posting);
        <PostingEditor Posting="posting" OnAccountClick="@(() => OnAccountClicked(index))" 
            OnAmountChanged="OnAmountChanged"/>
    }
}

@code {
    Xact? Xact
    {
        get
        {
            return State.Xact;
        }
        set
        {
            State.Xact = value;
        }
    }

    MudDatePicker _datePicker = default!;
    DateTime? date
    {
        get
        {
            var dtValue = Xact?.Date.ToDateTime(TimeOnly.MinValue);
            return dtValue;
        }
        set
        {
            if (Xact == null)
            {
                return;
            }

            var dtValue = value;
            if (dtValue == null)
            {
                value = DateTime.Today;
            }
            var doValue = DateOnly.FromDateTime(dtValue!.Value);
            Xact.Date = doValue;
        }
    }

    string Note
    {
        get
        {
            return Xact?.Note ?? string.Empty;
        }
        set
        {
            Xact!.Note = value;
        }
    }

    string Payee
    {
        get
        {
            return Xact?.Payee ?? string.Empty;
        }
        set
        {
            Xact!.Payee = value;
        }
    }

    List<Posting> Postings
    {
        get
        {
            return Xact?.Postings ?? [];
        }
    }

    private decimal Sum { get; set; }
    private int _emptyPostingCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (State.SelectionModeMetadata != null)
        {
            await handleSelection();
        }

        RecalculateSum();
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    async Task handleSelection()
    {
        if (Xact == null)
        {
            throw new Exception("No Transaction found in state!");
        }

        var meta = State.SelectionModeMetadata;
        if (meta == null) return;

        switch (meta.SelectionType)
        {
            case SelectionType.Account:
                // get the posting
                if (meta.PostingIndex == null) throw new Exception("Invalid posting index in selection metadata!");
                var posting = Xact?.Postings?[meta.PostingIndex.Value];
                if (posting == null) throw new Exception("Posting not found!");
                // load the account
                // if (meta.SelectedId)
                var account = await _db.Accounts.Get(meta.SelectedId!);
                if (account == null) throw new Exception("Account not found!");
                var svc = new AccountService();
                var defaultCurrency = await _settings.GetSetting<string>(SettingsKeys.currency);
                if (defaultCurrency is null)
                {
                    throw new Exception("Default currency not set!");
                }
                var balance = svc.GetAccountBalance(account, defaultCurrency);

                posting.Account = account.Name;
                posting.Currency = balance.Currency;
                break;

            case SelectionType.Payee:
                if (!string.IsNullOrEmpty(meta.SelectedId))
                {
                    Xact.Payee = meta.SelectedId;
                    await loadLastTransaction(meta.SelectedId);
                }
                break;
        }

        State.SelectionModeMetadata = null;
    }

    /// <summary>
    /// Load the last transaction for the payee.
    /// </summary>
    /// <returns></returns>
    async Task loadLastTransaction(string payee)
    {
        if (Xact is null)
        {
            throw new Exception("No transaction loaded!");
        }

        // do this only if enabled
        var enabled = await _settings.GetSetting<bool>(SettingsKeys.rememberLastTransaction);
        if (!enabled) return;
        // and we are not on an existing transaction
        if (Xact.Id.HasValue) return;

        var lastXact = await _db.LastTransactions.Get(payee);
        if (lastXact == null) return;

        // use the current date
        lastXact.Xact!.Date = Xact.Date;
        // Replace the current transaction.
        State.Xact = lastXact.Xact;
    }

    void OnAccountClicked(int? index)
    {
        var selectionMode = new SelectionModeMetadata()
            {
                // save the index of the posting being edited
                PostingIndex = index,
                SelectionType = SelectionType.Account
            };

        State.SelectionModeMetadata = selectionMode;

        _router.GoTo("/accounts");
    }

    void OnAddPostingClick()
    {
        if (Xact is null)
        {
            Notification.Error("The transaction is not initialized!");
            return;
        }

        Xact?.Postings?.Add(new Posting());
    }

    void OnAmountChanged()
    {
        RecalculateSum();
    }

    void OnDeletePostingsClicked()
    {
        _router.GoTo("/postings-delete");
    }

    void OnPayeeClick()
    {
        var selectionMode = new SelectionModeMetadata()
            {
                SelectionType = SelectionType.Payee
            };

        State.SelectionModeMetadata = selectionMode;

        _router.GoTo("/payees");
    }

    void OnReorderPostingsClick()
    {
        _router.GoTo("/postings-reorder");
    }

    void RecalculateSum()
    {
        Sum = 0;
        _emptyPostingCount = 0;

        if (Xact == null || Xact.Postings == null || Xact.Postings.Count == 0) return;

        foreach(var posting in Xact.Postings)
        {
            if(posting.Amount.HasValue)
            {
                Sum += posting.Amount.Value;
            } else
            {
                // empty amount
                _emptyPostingCount += 1;
            }
        }

        StateHasChanged();
    }

    private async Task Today()
    {
        await _datePicker.GoToDate(DateTime.Today);
    }
}
