<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@Layout" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@Layout">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    // Change the layout by replacing the type below.
    private Type Layout = typeof(MudBlazorLayout);

    // private Type Layout = typeof(MainLayout);
    // private Type Layout = typeof(MainLayoutBlazor);
}