<div class="main" style="background-color: @bgColour;">
    <NavHeader />

    <FluentDesignSystemProvider AccentBaseColor=@Palette.Primary BaseLayerLuminance="0">
    @* FillColor=@Palette.Info *@

        <FluentNavMenu>
            @* Width="150" *@
            <FluentNavLink Href="/" Icon="@(new LucideIcons20.Home())" Match="NavLinkMatch.All">Home</FluentNavLink>
            <FluentNavLink Href="/journal" Icon="@(new LucideIcons20.Scroll())">Journal</FluentNavLink>
            <FluentNavLink Href="/favourites" Icon="@(new LucideIcons20.Star())">Favourites</FluentNavLink>
            <FluentNavLink Href="/accounts" Icon="@(new LucideIcons20.Landmark())">Accounts</FluentNavLink>
            <FluentNavLink Href="/payees" Icon="@(new LucideIcons20.Users2())">Payees</FluentNavLink>
            <FluentNavLink Href="/asset-allocation" Icon="@(new LucideIcons20.PieChart())">Asset Allocation</FluentNavLink>
            <FluentNavLink Href="/scheduled-xacts" Icon="@(new LucideIcons20.CalendarClock())">Scheduled Transactions</FluentNavLink>

            <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

            @* <FluentNavLink>🔄️ CashierSync</FluentNavLink> *@
            <FluentNavLink Href="/cloud-backup" Icon="@(new LucideIcons20.UploadCloud())">Cloud Backup</FluentNavLink>
            <FluentNavLink Href="/settings" Icon="@(new LucideIcons20.Settings())">Settings</FluentNavLink>
            <FluentNavLink Href="/help" Icon="@(new LucideIcons20.HelpCircle())">Help</FluentNavLink>
            <FluentNavLink Href="/about" Icon="@(new LucideIcons20.Info())">About</FluentNavLink>
        </FluentNavMenu>
    </FluentDesignSystemProvider>
</div>

@code {
    const string bgColour = Palette.Dark;
}