@page "/accounts"

@using MudBlazor

@inject IDexieDAL db
@inject AppState State
@inject IJSRuntime _js
@inject NotificationService Notification

<ToolbarMud>
    <Title>Accounts</Title>
    <ContextMenuItems>
        <MudListItem Icon="@IconsMud.Check" @onclick="OnShowAllClicked">Show All</MudListItem>
    </ContextMenuItems>
</ToolbarMud>

@* Search *@
<MudPaper Class="px-2 py-1 d-flex justify-center">
    <div style="width: 500px;">
        <MudTextField AutoFocus="true" T="string" Adornment="Adornment.End" AdornmentIcon="@IconsMud.Search" Label="Search"
                      Variant="Variant.Outlined" Margin="Margin.Dense" FullWidth="false" Clearable="true"
                      DebounceInterval="300" OnDebounceIntervalElapsed="OnSearch"
                      @bind-Value="searchTerm" />
    </div>
</MudPaper>

@* Accounts list *@
@*
<MudDataGrid T="Account" Items="accounts" Height="85vh" Virtualize="true" RowClick="@OnRowClick">
    <Columns>
        <PropertyColumn Property="@(a => a.Name)" HeaderStyle="display: none;" CellClass="px-1" />
    </Columns>
</MudDataGrid>
*@
@if (accounts == null)
{
    <MudText>Loading accounts...</MudText>
}
else
{
    <MudSimpleTable Style="height: 85vh; overflow-y: scroll;">
        <tbody>
            @foreach (var account in accounts)
            {
                <tr @onclick="@(() => OnTrClick(account.Name!))">
                    <td>@account.Name</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {
    string? searchTerm;
    List<Account> accounts = [];
    bool _limitList = true;     // Show only a limited number of items to reduce load time.

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadData();
    }

    async Task loadData()
    {
        BlazorDexie.Database.Collection<Account, string> records;

        records = db.Accounts.OrderBy("name");

        // Search by using .filter() query directly on the storage.
        if (searchTerm != null)
        {
            var regex = new ListSearch().GetJsFilterFunction("name");
            records = records.Filter(regex, new[] { searchTerm });
        }

        // Limit results
        if (_limitList)
        {
            records = records.Limit(25);
        }

        accounts = await records.ToList();
    }

    async Task OnRowClick(DataGridRowClickEventArgs<Account> args)
    {
        await SelectAccount(args.Item.Name!);
    }

    async Task OnShowAllClicked()
    {
        State.CloseMenu();

        _limitList = !_limitList;

        if (_limitList)
        {
            Notification.Info("Showing limited data");
        }
        else
        {
            Notification.Info("Showing all data");
        }

        await loadData();
    }

    async Task OnTrClick(string accountName)
    {
        await SelectAccount(accountName);
    }

    /// <summary>
    /// Handle debounced search term.
    /// </summary>
    async Task OnSearch()
    {
        await loadData();
    }

    /// <summary>
    /// Separated so that it can be shared with the two events.
    /// </summary>
    /// <param name="accountName"></param>
    /// <returns></returns>
    /// <exception cref="Exception"></exception>
    async Task SelectAccount(string accountName)
    {
        var meta = State.SelectionModeMetadata;
        if (meta == null) return;
        if (meta.SelectionType != SelectionType.Account) throw new Exception("Invalid selection mode!");

        meta.SelectedId = accountName;

        await _js.InvokeVoidAsync("history.back");
    }
}
