@page "/dexie-net-demo"

@using DexieNET.Component
@inherits DexieNET<CashierDB>


<article>
    <h3>DexieNetDemo</h3>

    Accounts:
    @if (accounts is null)
    {
        <p>Loading...</p>
    }
    else if (accounts.Count() == 0)
    {
        <p>No items...</p>
    }
    else
    {
        <ul style="list-style: square inside;">
            @foreach (var friend in accounts)
            {
                <li>
                    Name: @friend.Name, 
                </li>
            }
        </ul>
    }

    <hr />

    Xacts:
    @if (xacts is null)
    {
        <p>Loading...</p>
    }
    else if (xacts.Count() == 0)
    {
        <p>No items...</p>
    }
    else
    {
        <ul style="list-style: square inside;">
            @foreach (var xact in xacts)
            {
                <li>
                    Date: @xact.Date, Payee: @xact.Payee;
                    @if(xact.postings != null)
                    {
                        <ul>
                            @foreach (var posting in xact.postings)
                            {
                                <li>@posting.Account @posting.Money?.Amount @posting.Money?.Currency</li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }

    <hr />

    <div style="display: flex; column-gap: 50px">
        <FluentButton @onclick="PopulateDatabase" Appearance="Appearance.Accent">
            PopulateDatabase
        </FluentButton>

        <FluentButton @onclick="GoodTransaction">
            GoodTransaction
        </FluentButton>

        <FluentButton @onclick="FailedTransaction">
            FailedTransaction
        </FluentButton>

        <FluentButton @onclick="ClearDatabase">
            ClearDatabase
        </FluentButton>
    </div>
</article>

@code {

}
