@page "/favourites"

@using MudBlazor

@inject IDexieDAL _db
@inject NotificationService Notification

<ToolbarMud>
    <Title>Favourites</Title>
    <ContextMenuItems>
        <MudListItem Icon="@IconsMud.PlusCircle">Add</MudListItem>
        <MudListItem Icon="@IconsMud.Trash">Delete All</MudListItem>
        <MudListItem Icon="@IconsMud.ArrowUpDown">Reorder</MudListItem>
    </ContextMenuItems>
</ToolbarMud>

@* Accounts List *@
@if (accounts.Count == 0)
{
    <MudText>No favourite accounts set</MudText>
}
else
{
    @*
    <MudSimpleTable Dense>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td class="pl-2 pr-1">
                        @account.Name
                    </td>
                </tr>
                <tr>
                    <td class="pl-0 pr-2" style="text-align: end;">
                        @account.AccountBalance
                    </td>

                </tr>
            }
        </tbody>
    </MudSimpleTable>
    *@

    <MudContainer MaxWidth="MaxWidth.Small">

        <MudList Clickable Class="py-0 mb-2" Dense>
            @foreach (var account in accounts)
            {
                <MudListItem Class="px-1 py-0 my-0">
                    <MudText Typo="Typo.caption" Style="color: var(--mud-palette-dark-text);">
                        @account.ParentAccountName
                    </MudText>
                    <div class="d-flex row">
                        <MudText Class="pl-3">
                            @account.AccountName
                        </MudText>
                        <MudSpacer />
                        <MudText Align="Align.End" Typo="Typo.body2" Style="@(GetColour(account.AccountBalance?.Quantity))"
                                 Class="align-self-end">
                            @account.AccountBalance
                        </MudText>
                    </div>
                </MudListItem>
            }
        </MudList>

    </MudContainer>

    @*
    <MudTreeView T="Account" Items="@_accountsHashSet">

    </MudTreeView>
    *@
}

@code {
    List<AccountViewModel> accounts = [];
    // HashSet<AccountViewModel> _accountsHashSet = [];
    AppService _app = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _app = new AppService();

        // todo: handle selection

        try
        {
            await loadData();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            Notification.Error(ex.Message);
        }

        // create a tree view
        // CreateTreeView();
    }

    string GetColour(decimal? amount)
    {
        if (amount is null) return string.Empty;

        return $"color: {_app.GetAmountColour(amount.Value)};";
    }

    async Task loadData()
    {
        var app = new AppService();
        var data = await app.LoadFavouriteAccounts(_db);
        accounts = data.ConvertAll(acc => new AccountViewModel(acc));

        var aug = new TransactionAugmenter();
        await aug.AdjustAccountBalances(_db, accounts);
    }

    // void CreateTreeView()
    // {
    //     _accountsHashSet = accounts.ToHashSet();
    // }
}
