@page "/"

@inject NavigationManager NavMan
@inject AppState State

@using MudBlazor


<ToolbarMud>
    <Title>Cashier II</Title>
    <ContextMenuItems>
        <MudMenuItem Icon="@IconsMud.Star" IconSize="Size.Large">Item 1</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll">No size</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Medium">Item 2</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Small">Item 2</MudMenuItem>
    </ContextMenuItems>
</ToolbarMud>

@* <PageTitle>Home</PageTitle> *@

<FavouritesCard />

<JournalCard Class="mt-3" />

<ScheduledXactCard Class="mt-3" />

<SyncCard Class="mt-3" />

<MudFab Color="Color.Tertiary" IconColor="Color.Secondary" StartIcon="@IconsMud.Plus"
        Style="@Constants.DefaultFabPosition" @onclick="OnFab" />

@code {
    void OnFab()
    {
        // create new transaction in the app store
        var xact = new TransactionActions().CreateNew();
        State.Xact = xact;

        NavMan.NavigateTo("/tx");
    }
}