@page "/"
@inject NavigationManager NavigationManager

@using MudBlazor


<ToolbarMud>
    <Title>Cashier++</Title>
    <ContextMenuItems>
        <MudMenuItem Icon="@IconsMud.Star" IconSize="Size.Large">Item 1</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll">No size</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Medium">Item 2</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Small">Item 2</MudMenuItem>
    </ContextMenuItems>
</ToolbarMud>

<PageTitle>Home</PageTitle>

<article class="content">

    <h1>Hello, world!</h1>

    <p>Welcome to the new Cashier app.</p>

    <p>Demonstration pages:</p>

    <MudList>
        <MudListItem>
            <MudLink Href="/responsive-side-navigation">Responsive Side Navigation</MudLink>
        </MudListItem>
        <MudListItem>
            <MudLink Href="/indexed-db-demo">IndexedDb Demo</MudLink>
        </MudListItem>
        <MudListItem>
            <MudLink Href="/gestures-demo">Gestures Demo</MudLink>
        </MudListItem>
        <MudListItem>
            <MudLink Href="/opfs-demo">OPFS demo</MudLink>
        </MudListItem>
    </MudList>

</article>

@* The real page starts here *@

<FavouritesCard />

<MudFab Color="Color.Tertiary" IconColor="Color.Secondary" StartIcon="@IconsMud.Plus" 
    Style="position: fixed; bottom: 20px; right: 20px;" @onclick="OnFab"/>

@code {
    void OnFab()
    {
        // Console.WriteLine("fab!");

        // TODO: create new transaction in the app store

        NavigationManager.NavigateTo("/tx");
    }
}