@page "/"

@inject NavigationManager NavMan
@inject AppState State
@inject ISettingsService Settings
@inject NotificationService Notification

@using MudBlazor


<ToolbarMud>
    <Title>Cashier II</Title>
    <ContextMenuItems>
        @*        <MudListItem Icon="@IconsMud.Star">Export</MudListItem>
        <MudMenuItem Icon="@IconsMud.Star" IconSize="Size.Large">Item 1</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll">No size</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Medium">Item 2</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.Scroll" IconSize="Size.Small">Item 2</MudMenuItem>
        *@
        <MudListItem Icon="@IconsMud.Settings" OnClick="OnHomeSettingsClicked">Home Settings</MudListItem>
    </ContextMenuItems>
</ToolbarMud>

@* todo: sort cards based on user preferences *@
<MudStack Spacing="3">
    @foreach(var card in _cards)
    {
        <DynamicComponent Type="@card"></DynamicComponent>
    }
</MudStack>

<MudFab Color="Color.Tertiary" IconColor="Color.Secondary" StartIcon="@IconsMud.Plus" Class="z-100"
        Style="@Constants.DefaultFabPosition" @onclick="OnFab" />

@code {
    private List<Type> _cards = new List<Type>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _cards = await CreateCardList();
    }

    private async Task<List<Type>> CreateCardList()
    {
        var visibleCardNames = await Settings.GetVisibleCards();
        var visibleCards = new List<Type>();
        foreach(var cardName in visibleCardNames)
        {
            var type = Type.GetType(cardName);
            if (type == null)
            {
                Notification.Error($"Could not create type {cardName}");
                continue;
            } else
            {
                visibleCards.Add(type);
            }
        }

        return visibleCards;
    }

    void OnFab()
    {
        // create new transaction in the app store
        var xact = new AppService().CreateNewXact();
        State.Xact = xact;

        NavMan.NavigateTo("/tx");
    }

    void OnHomeSettingsClicked()
    {
        NavMan.NavigateTo("/home-settings");
    }
}