@page "/scheduled-xacts"
@using MudBlazor

@inject NavigationManager NavMan
@inject IDexieDAL _db
@inject AppState _state

<ToolbarMud>
    <Title>Scheduled</Title>
    <ContextMenuItems>
        <MudListItem Icon="@IconsMud.PackageOpen" @onclick="OnRestoreClick">Restore</MudListItem>

    </ContextMenuItems>
</ToolbarMud>

@if (_list.Count == 0)
{
    <MudText>Loading...</MudText>
}
else
{
    <MudList>
        @foreach (var stx in _list)
        {
            <MudListItem Class="px-1" @onclick="@(() => showTx(stx.Id))">
                <MudStack Row>
                    <MudText Class="mr-1" Style="@GetDateStyle(stx)">
                        @stx.NextDate.ToString(Constants.ISODateFormat)
                    </MudText>
                    <MudText>
                        @stx.Transaction?.Payee
                    </MudText>
                </MudStack>
            </MudListItem>
        }
    </MudList>
}

@code {
    List<ScheduledXact> _list = [];
    AppService _appService = new AppService();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadData();
    }

    async Task loadData()
    {
        _list = await _db.ScheduledXacts
            .OrderBy(nameof(ScheduledXact.NextDate))
            .ToList();

        // sort also by payee, case insensitive

    }

    string GetDateStyle(ScheduledXact stx)
    {
        return $"color: {GetDateColour(stx.NextDate)};";
    }

    string GetDateColour(DateOnly date)
    {
        return _appService.GetDateColour(date);
    }

    void OnRestoreClick()
    {
        NavMan.NavigateTo("/restore/scheduled");
    }

    async Task showTx(long? sxId)
    {
        if (sxId is null) return;

        var app = new AppService();
        await app.LoadScheduledXact(_db, sxId.Value, _state);

        // router
        NavMan.NavigateTo($"/scheduledxactactions/{sxId}");
    }
}
