@page "/scheduledxactactions"
@page "/scheduledxactactions/{sxid}"
@using MudBlazor

@inject AppState _state
@inject IDexieDAL _db
@inject NotificationService Notification
@inject IDialogService DialogService
@inject NavigationManager NavMan

<ToolbarMud>
    Scheduled Transaction Actions
</ToolbarMud>

@if (_state.Xact is null)
{
    <MudText>
        No Scheduled Transaction selected.
    </MudText>
}
else
{
    <JournalTransactionRow Xact="_state.Xact" />

    @* Recurrence details *@
    <div class="pt-4">
        @if (Count > 0)
        {
            <span>Repeats every @_state?.ScheduledXact?.Count @_state?.ScheduledXact?.Period</span>
        }
        @if (EndDate.HasValue)
        {
            <span>until @EndDate</span>
        }
    </div>

    @* Remarks *@
    <div class="pt-2">
        @_state?.ScheduledXact?.Remarks
    </div>

    @* Actions *@
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-10 align-center d-flex flex-column gap-8">

        <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Tertiary" FullWidth StartIcon="@IconsMud.Scroll"
                   Style="color: var(--mud-palette-secondary);" IconSize="Size.Large" @onclick="OnEnterClick">
            Enter
        </MudButton>

        <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" FullWidth StartIcon="@IconsMud.ChevronsRight"
                   Style="color: var(--mud-palette-tertiary);" IconSize="Size.Large" @onclick="OnSkipClick">
            Skip
        </MudButton>

        <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Tertiary" FullWidth StartIcon="@IconsMud.PenSquare"
                   Style="color: var(--mud-palette-secondary);" IconSize="Size.Large" @onclick="OnEditClick">
            Edit
        </MudButton>

        <MudButton Color="Color.Secondary" Size="Size.Large" Variant="Variant.Filled" FullWidth Style="color: var(--mud-palette-tertiary);"
                   StartIcon="@IconsMud.Trash" IconSize="Size.Large" @onclick="OnDeleteClick">
            Delete
        </MudButton>

    </MudContainer>
}

@code {
    [Parameter]
    public string? sxId { get; set; }

    int Count
    {
        get
        {
            if (_state.ScheduledXact is null) return 0;
            if (!int.TryParse(_state.ScheduledXact.Count, out var count)) return 0;

            return count;
        }
    }

    DateOnly? EndDate
    {
        get
        {
            if (_state.ScheduledXact is null) return null;
            if (!_state.ScheduledXact.EndDate.HasValue) return null;

            return _state.ScheduledXact.EndDate;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadData();
    }

    async Task loadData()
    {
        if (!long.TryParse(sxId, out var sxid)) return;
        if (_state.ScheduledXact != null) return;

        // load stx
        var app = new AppService();
        await app.LoadScheduledXact(_db, sxid, _state);
    }

    /// <summary>
    /// Enter the transaction into Journal and update the next date on schedule.
    /// </summary>
    /// <returns></returns>
    async Task EnterTransaction()
    {
        if (_state.ScheduledXact is null || _state.ScheduledXact.Transaction is null)
        {
            Notification.Warning("Scheduled Transaction does not exist");
            return;
        }

        // Create the journal transaction.
        var app = new AppService();
        var newXact = app.CreateNewXactFrom(_state.ScheduledXact.Transaction);
        // todo: var id = await app.SaveXact(_db, newXact);

        Log.debug(newXact);

        // update the iteration date
        await Skip();

        Notification.Success("Transaction created");

        // load transaction into store
        _state.Xact = newXact;

        // open the transaction. (Maintain page navigation history. <- there is no route overwrite in Blazor!)
        NavMan.NavigateTo("/tx");
    }

    void OnDeleteClick()
    {
        NotImplemented();
    }

    void OnEditClick()
    {
        NotImplemented();
    }

    async Task OnEnterClick()
    {
        // confirm with a dialog
        var parameters = new DialogParameters<ConfirmationDialog>();
        parameters.Add(x => x.ContentText, "Do you want to enter this transaction into the journal?");
        var dialog = await DialogService.ShowAsync<ConfirmationDialog>("Confirm Creation", parameters,
            new DialogOptions { MaxWidth = MaxWidth.Large });
        var result = await dialog.Result;
        if (result.Canceled) return;

        // enter
        try
        {
            await EnterTransaction();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            Notification.Error(ex.Message);
        }
    }

    void OnSkipClick()
    {
        NotImplemented();
    }

    void NotImplemented()
    {
        Notification.Info("Not implemented");
    }

    /// <summary>
    /// Skips the next iteration.
    /// </summary>
    /// <returns></returns>
    async Task Skip()
    {
        var stx = _state.ScheduledXact;
        if (stx is null)
        {
            throw new Exception("No Scheduled Transaction found in app state");
        }

        var startDate = stx.NextDate;
        var count = stx.Count;
        var period = stx.Period;
        var endDate = stx.EndDate;

        ValidateSchedule(stx);

        // todo: handle the one-off occurrence (no count and no period)

        // calculate the next iteration.

        // update the date on the transaction

    }

    bool ValidateSchedule(ScheduledXact stx)
    {
        // A schedule can't have no repetitions and no end. Skipping the date would result
        // in an invalid situation.
        if ((stx.EndDate is null) && ((stx.Count is null) || (stx.Period is null)))
        {
            throw new Exception("A schedule must have either an end date or a repetition pattern.");
        }

        return true;
    }
}
